{% extends "layout/layout.html" %}
{% block content %}
<div class="col-lg-5 container">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Prijava</legend>
            <div class="mb-3">
                {{ form.username.label(class="form-control-label") }}
                {{ form.username(class="form-control form-control-lg") }}
            </div>
            <div class="mb-3">
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(class="form-control form-control-lg") }}
            </div>
        </fieldset>
        <div class="mb-3">
            {{ form.submit(class="btn btn-info w-100") }}
        </div>
    </form>
</div>
<div class="col-lg-5 container border-top pt-3">
    <small class="text-muted">
        Nemate račun? <a href="{{ url_for('register') }}" class="ml-2" style="text-decoration: none;">Napravite novi račun</a>
    </small>
</div>
{% endblock content %}