<nav class="navbar navbar-expand-md navbar-dark bg-success bg-gradient">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('index') }}">
      <span class="fw-bold">
        PyFloraPosuda
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="navbar-nav me-auto mb-lg-0">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('biljke') }}">Biljke</a>
        </li>
        {% endif %}
      </ul>
      <div class="navbar-nav">
        {% if current_user.is_authenticated %}
        <a class="nav-link active" href="{{ url_for('account') }}">Moj profil</a>
        <a class="nav-link active" href="{{ url_for('logout') }}">Odjava</a>
        {% else %}
        <a class="nav-link active" href="{{ url_for('index') }}">Prijava</a>
        <a class="nav-link active" href="{{ url_for('register') }}">Registracija</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>